{% extends 'adminka_post/base_adminka.html' %}

{% block title %}Админка{% endblock %}

{% block content %}
    <h2>Все посты</h2>
    <p><a class="btn btn-success" href="{% url 'create_post' %}">создать новости</a></p>
    <hr>
    <form method="GET" action="">
        <input type="text" name="q" value="" placeholder="Поиск по заголовку или содержимому" />
        <button type="submit">Поиск</button>
    </form>
    <hr>
    <table class="table  ">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Новость</th>
        </tr>
        </thead>
        <tbody>
        {% for post in page_obj %}
            <tr>
                <th><a href="{% url 'post_detail' post.id %}">{{ post.created_at }}</a></th>
                <td>{{ post.title }}</td>
                <td>

                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет доступных постов.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q=">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
