{% extends 'adminka_post/base_adminka.html' %}

{% block title %}Админка{% endblock %}

{% block content %}
    <br>
    <a class="btn btn-warning" href="{% url 'all_posts' %}">Назад</a>
    <a class="btn btn-primary" href="{% url 'edit_post' post.id %}">изменить</a>
    <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Удалить</a>

    <h5>тема поста: {{ post.title }}</h5>

    <h5>полный текст: {{ post.content }}</h5>
    <h5>дата создания: {{ post.created_at }}</h5>
    {% for image in post.images.all %}
        <img src="{{ image.image.url }}" alt="Изображение для {{ post.title }}" width="100"/>
    {% empty %}
        <h1>Нет изображение</h1>
    {% endfor %}
{% endblock %}