{% extends 'adminka_post/base_adminka.html' %}

{% block title %}Создать{% endblock %}



{% block content %}

    <h1>создать</h1>

    <form method="post" enctype="multipart/form-data" class="form-control">

        {% csrf_token %}
        {{ form.as_p }}

        <h3>Загрузите изображения</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}

        <button type="submit">Сохранить пост с изображениями</button>
        <a class="btn btn-warning" href="{% url 'all_posts' %}">Назад</a>
    </form>

    <p>Текущая дата и время: {{ current_time }}</p>

{% endblock %}