{% extends 'web/base.html' %}
{% load static %}
{% block  content %}


    <!-- Pages Banner Area --> 
    <section class="pages_banner">
        <div class="container">
            <h2>{{ person.first_name }} {{ person.name }} {{ person.last_name }}</h2>
            <ol class="breadcrumb">
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->
    <br>
{#    <!-- Mission Area -->#}
    <section class="mission_area">
        <div class="container">
            <div class="row mission">
                <div class="col-lg-5"><img src="{{ person.img.url }}" alt=""></div>
                <div class="col-lg-7 mission_text">
                    <h4 class="fast_h">Должность: {{ person.speciality }}</h4>
                    <h4 class="fast_h">ФИО: {{ person.first_name }} {{ person.name }} {{ person.last_name }}</h4>
                    <h4>Степень: {{ person.spec }}</h4>
                    <h4>Адрес: {{ person.addres }}</h4>
                    <h4>Тел: {{ person.tel }}</h4>
                    <h4>Email: {{ person.email }}</h4>
                </div>
            </div>
        </div>
    </section>
    <br>




              {% endblock %}