{% extends 'web/base.html' %}
{% load static %}
{% block  content %}

    <!-- Pages Banner Area --> 
    <section class="pages_banner" style="background: none">
        <div class="container">
            <h2>Отдел качества обучeния и методического обеспечения</h2>
            <ol class="breadcrumb">
                <li><a href="index.html"></a></li>
                <li><a href="#"></a></li>
                <li><a class="active"></a></li>
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area --> 
     
    <!-- Faq Area -->   
    <section class="faq_area"> 
        <div class="container"> 
           <div class="row">
               <div class="col-lg-6">
                   <h2>for Cryptocoin faq </h2>
                    <div class="faq_accordion">
                        <div class="item"> 
                            <a href="#" data-toggle="collapse" data-target="#faq1">How do I get started?</a> 
                            <div id="faq1" class="collapse show" data-parent=".faq_accordion"> 
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" data-toggle="collapse" class="collapsed" data-target="#faq2">What fees do you charge?</a> 
                            <div id="faq2" class="collapse" data-parent=".faq_accordion"> 
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq3">How can I start accepting business</a> 
                            <div id="faq3" class="collapse" data-parent=".faq_accordion">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq4">Can I return a product, exchange it or get a refund?</a> 
                            <div id="faq4" class="collapse" data-parent=".faq_accordion">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq5">Which products are excluded from the returns policy?</a> 
                            <div id="faq5" class="collapse" data-parent=".faq_accordion">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div> 
                    </div>  
               </div>
               <div class="col-lg-6"> 
                   <h2>for our personal faq</h2>
                    <div class="faq_accordion fa_2"> 
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq6">How Much Does It Cost To Join?</a> 
                            <div id="faq6" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq7">How Much Is (Item)?</a> 
                            <div id="faq7" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq8">How do I receive my settlements?</a> 
                            <div id="faq8" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq9">How do I start the download?</a> 
                            <div id="faq9" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq10">For how long may I redownload the software?</a> 
                            <div id="faq10" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq11">How do I arrange a replacement item?</a> 
                            <div id="faq11" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq12">How fast do I get paid?</a> 
                            <div id="faq12" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                        <div class="item"> 
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq13">I am unhappy with the quality of my item, what do I do?</a> 
                            <div id="faq13" class="collapse" data-parent=".fa_2">
                               <div class="accordion_content"> 
                                    <p>Simply register with your email and you are ready to go. Your account will guide you through the setup. For compliance reason we require information about your business or website, </p>
                                    <img src="images/faq-1.jpg" alt="">
                               </div>
                            </div>
                        </div>
                    </div>  
{#                    <div class="another_question">#}
{#                        <h4>Have another Question</h4>#}
{#                        <a href="contact.html" class="theme_btn">Contact us</a> #}
{#                    </div>#}
               </div>
           </div>
        </div>
    </section>
    <!-- End Faq Area -->   
    



{% endblock %}