{% extends 'web/base.html' %}
{% load static %}
{% block  content %}


    <!-- Pages Banner Area --> 
    <section class="pages_banner" >
        <div class="container">
            <h2>Состав отдела</h2>
            <ol class="breadcrumb">
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->


    <br>
{#    <!-- Mission Area -->#}
    <section class="mission_area">
        <div class="container">
            <div class="row mission">
                <div class="col-lg-5"><img src="http://127.0.0.1:8000/media/images/%D0%91%D0%B5%D0%B7_%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8.jpg" alt=""></div>
                <div class="col-lg-7 mission_text">
                    <h4 class="fast_h">Директор</h4>
                    <p class="fast_p">For more than 130 years, Intertek’s story has always been about innovation. In 1885 we began testing and certifying grain cargoes before they were put to sea, and in 1888 we pioneered the idea of independent testing laboratories. Then in 1896, the greatest inventor of them all became part of our story. When Thomas Edison released the wonders of electricity and the light bulb he wanted to ensure that his products were checked, tested and safe. He established the Lamp Testing Bureau, later to </p>
                    <h4>Our Purpose</h4>
                    <p>Helping Canadians access affordable personal loans</p>
                    <h4>Our Mission</h4>
                    <p>We're committed to providing Canadians with fast cash loans between $1000 and $25,000 when they need it most1.</p>
                </div>
            </div>


            <div class="row conversation_area">

                {% for person in persons %}
                <div class="col-lg-4 col-md-6">
                    <div class="conversation">
                        <div class="conversation_img">
                            {% if person.img %}


                            <img src="{{ person.img.url }}" alt="">
                                {% else %}
                             <img src="{% static 'images/conversation-2.jpg' %}" alt="">
                            {% endif %}


                        </div>
                        <div class="conversation_content">
                            <a href="{% url 'about_detail' person.id %}">{{ person.firstname}} {{ person.name }} {{ person.last_name }}</a>
                            <h6>{{ person.speciality }}</h6>
                            <p>{{ person.tel }}</p>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </section>
{#    <!-- End Mission Area --> #}
{#    #}




    <!-- End stay_tuned Area --> 
    {% endblock %}