{% extends 'web/base.html' %}
{% load static %}
{% block  content %}


    <!-- Pages Banner Area --> 
    <section class="pages_banner"> 
        <div class="container">
            <h2>About the company  </h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a class="active">About us</a></li> 
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->  
    
{#    <!-- business services Area --> #}
{#    <section class="business_services_area bsa_2">#}
{#        <div class="business_services">#}
{#           <div class="business_img">#}
{#                <img src="{% static 'images/business_services.jpg' %}" alt="">#}
{#                <div class="business_video">#}
{#                    <a class="popup-youtube" href=""><i class="flaticon-play-button"></i></a>#}
{#                </div>#}
{#           </div>#}
{#        </div>#}
{#        <div class="services_offered">#}
{#            <div class="services_text">#}
{#                <h2>All our business services offered start with a free consultation!</h2>#}
{#                <p>To achieve the desired outcome, we plan, structure, and execute through consulting services, marketing campaigns, design and technology services. When we say we’re not happy until you’re happy, we really do mean it</p>#}
{#                <p>we can provide assistance. Our consulting services aid customers to have a go at a greater return on investment. Consultants can create measurable business value. Our consulting services aid customers to have a go at a greater return on investment. Consultants can create measurable business value. We assist clients with a combination of consulting services,</p>#}
{#                <div class="my_info">#}
{#                    <img src="{% static 'images/icons/sign.png' %}" alt="">#}
{#                    <address>#}
{#                        <b>We can answer all your questions</b>#}
{#                        Call us:  029292162 <br>#}
{#                        121 King St, Gournadi  AC 1000, Bangladesh <br>#}
{#                        Email@gmail.com#}
{#                    </address>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- End business services Area --> #}
{#    #}
{#    <!-- Trusted Area -->#}
    <section class="trusted_area ta_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 trusted_content">
                    <h2>We are trusted by more than <span>25,350</span> clients</h2>
                    <p class="fast_p">Gournadi works with banks and financial institutions to integrate and deploy the communication solution and guarantees 100% deployment as well as 24/7 tech support.</p>
                    <p>It goes without saying that customer data security and compliance is top of mind in most retail boardrooms. Auth0 has built state-of-the-art security into our product, so you can take advantage of cutting-edge features designed to make protecting your users and business worry-free.</p>
                    <a href="#" class="theme_btn">Learn More</a>
                </div>
                <div class="col-md-5">
                    <div class="consultancy">
                        <h4>We have 15 years experience in consultancy</h4>
                        <p>Need guidance in creating and managing successful investment portfolio?</p>
                        <a href="contact.html" class="theme_btn">Contact Us</a>
                        <h3>02 9292162</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <!-- End trusted Area -->#}
{#    #}
{#    <!-- Mission Area -->#}
    <section class="mission_area">
        <div class="container">
            <div class="row mission">
                <div class="col-lg-5"><img src="{% static 'images/mission.jpg' %}" alt=""></div>
                <div class="col-lg-7 mission_text">
                    <h4 class="fast_h">OUR MISSION, VISION AND VALUES</h4>
                    <p class="fast_p">For more than 130 years, Intertek’s story has always been about innovation. In 1885 we began testing and certifying grain cargoes before they were put to sea, and in 1888 we pioneered the idea of independent testing laboratories. Then in 1896, the greatest inventor of them all became part of our story. When Thomas Edison released the wonders of electricity and the light bulb he wanted to ensure that his products were checked, tested and safe. He established the Lamp Testing Bureau, later to </p>
                    <h4>Our Purpose</h4>
                    <p>Helping Canadians access affordable personal loans</p>
                    <h4>Our Mission</h4>
                    <p>We're committed to providing Canadians with fast cash loans between $1000 and $25,000 when they need it most1.</p>
                </div>
            </div>
            <div class="row our_vision">
                <div class="col-12">
                    <h4>Our Vision</h4>
                    <p> Since starting our business in 2006, our 200+ branches have helped over 230,000 Canadians and counting. Helping Canadians access affordable personal loans</p>
                </div>
                <div class="col-md-6"><img src="{% static 'images/vision.jpg' %}" alt=""></div>
                <div class="col-md-6"><img src="{% static 'images/vision-2.jpg' %}" alt=""></div>
            </div>
            <div class="row conversation_area">
                <div class="tittle col-12">
                    <p>We live our values, attract and retain talent, encourage entrepreneurial spirit and are proud of our corporate culture and the integrity of our people</p>
                    <a href="#" class="theme_btn">Join us conversation</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="conversation">
                        <div class="conversation_img">
                            <img src="{% static 'images/conversation-1.jpg' %}" alt="">
                        </div>
                        <div class="conversation_content">
                            <a href="#">Emran Khan</a>
                            <h6>Client Manager</h6>
                            <p>Outline how you will measure performance against your goals</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="conversation">
                        <div class="conversation_img">
                            <img src="{% static 'images/conversation-2.jpg' %}" alt="">
                        </div>
                        <div class="conversation_content">
                            <a href="#">Mahfuz Riad</a>
                            <h6>Payment Manager</h6>
                            <p>Outline how you will measure performance against your goals</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="conversation">
                        <div class="conversation_img">
                            <img src="{% static 'images/conversation-3.jpg' %}" alt="">
                        </div>
                        <div class="conversation_content">
                            <a href="#">Kim o Bin</a>
                            <h6>CTO</h6>
                            <p>Outline how you will measure performance against your goals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <!-- End Mission Area --> #}
{#    #}
{#    <!-- Investment Consultant Area -->#}
    <section class="consultant_area coa_2 coa_3">
       <div class="container">
           <div class="row">
                <div class="project_sucessfull col-lg-7">
                  <div class="row">
                       <div class="col-sm-6">
                            <div class="project_items pi_3">
                                <img src="{% static 'images/icons/hart.png' %}" alt="">
                                <h4>Project Sucessfull</h4>
                                <h2 class="counter">2084</h2>
                            </div>
                       </div>
                       <div class="col-sm-6 p-0">
                            <div class="project_items pi_2">
                                <img src="images/icons/bank.png" alt="">
                                <h4>Projects Completed</h4>
                                <h2 class="counter">284</h2>
                            </div>
                       </div>
                       <div class="col-sm-6">
                            <div class="project_items pi_2">
                                <img src="images/icons/user.png" alt="">
                                <h4>Team Member</h4>
                                <h2 class="counter">52</h2>
                            </div>
                       </div>
                       <div class="col-sm-6 p-0">
                            <div class="project_items pi_3">
                                <img src="images/icons/hart.png" alt="">
                                <h4>Consultants</h4>
                                <h2> <span class="counter">200</span>+</h2>
                            </div>
                       </div>
                  </div>
                </div>

                <div class="col-lg-5 request_consulting">
                    <h2>Talk to Our Investment Consultant</h2>
                    <form class="consultant_from">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group m-0">
                            <button class="theme_btn btn" type="submit">Request for free consulting</button>
                        </div>
                    </form>
                </div>
           </div>
       </div>
    </section>
{#    <!-- End Investment Consultant Area --> #}
{#    #}
{#    <!-- Careers Area -->#}
    <section class="careers_area">
        <div class="careers_content">
            <div class="careers_text">
                <h2>Careers</h2>
                <h3>Don’t just come to work. Come to change</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="industry">
                            <a href="#">The lucrative and large beauty industry</a>
                            <h6>Skin Care Business, job china</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="industry">
                            <a href="#">The lucrative and large beauty industry</a>
                            <h6>Skin Care Business, job china</h6>
                        </div>
                    </div>
                    <div class="col-12">
                       <div class="careers_button">
                            <a href="#" class="theme_btn">Get more careers</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="careers_img">
            <img src="{% static 'images/careers.jpg' %}" alt="">
        </div>
    </section>
{#    <!-- End Careers Area -->       #}
{#    #}
{#    <!-- Testimonial Area -->#}
    <section class="testimonial">
        <div class="container">
            <div class="carousel slide testimonial_carousel" data-ride="carousel">
               <h2>What our Client Says</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>It goes without saying that customer data security and compliance is top of mind in most retail boardrooms. Barisal has built state-of-the-art security into our product, so you can take advantage of cutting-edge features designed to make protecting your users and business worry-free.</p>
                        <img src="{% static 'images/testimonial.jpg' %}" alt="">
                        <a href="#">Emran Khan</a>
                        <h6>Web Developer</h6>
                    </div>
                    <div class="carousel-item">
                        <p>It goes without saying that customer data security and compliance is top of mind in most retail boardrooms. Barisal has built state-of-the-art security into our product, so you can take advantage of cutting-edge features designed to make protecting your users and business worry-free.</p>
                        <img src="images/testimonial.jpg" alt="">
                        <a href="#">Mahfuz Riyad</a>
                        <h6>Web designer</h6>
                    </div>
                    <div class="carousel-item">
                        <p>It goes without saying that customer data security and compliance is top of mind in most retail boardrooms. Barisal has built state-of-the-art security into our product, so you can take advantage of cutting-edge features designed to make protecting your users and business worry-free.</p>
                        <img src="{% static 'images/testimonial.jpg' %}" alt="">
                        <a href="#">Foqrul  Islam</a>
                        <h6>SEO Themazine</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <!-- End testimonial Area -->#}
{#    #}
{#    <!-- Stay_tuned Area --> #}
    <section class="stay_tuned_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 stay_tuned">
                    <h2>Stay Tuned for Our Updates</h2>
                    <p>To succeed in today’s environment, businesses need to successfully </p>
                </div>
                <div class="col-lg-6 subscribe_area">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <span class="input-group-text theme_btn">SUBSCRIBE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End stay_tuned Area --> 
    {% endblock %}