{% extends 'web/base.html' %}
{% load static %}
{% block  content %}

    <!-- Pages Banner Area -->
    <section class="pages_banner">
        <div class="container">
            <h2>Отдел качества обучeния и методического обеспечения</h2>
            <ol class="breadcrumb">

            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->

    <!-- Faq Area -->
    <section class="faq_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq_accordion">
                        <h1>Отдел качества обучeния и методического обеспечения</h1>
                        <div class="item">
                            <a href="#" data-toggle="collapse" data-target="#faq1">Отдел качества обучeния и
                                методического обеспечения</a>
                            <div id="faq1" class="collapse show" data-parent=".faq_accordion">
                                <div class="accordion_content">
                                    <p>Согласно приказа ректора ОшГУ №7394-ФХД/23 от 30.12.2023-года создан отдел
                                        качества обучения и методического обеспечения, который возглавляет к.п.н.,
                                        доцент Былыкова Махабат Максатовна.
                                        Отдел состоит из заведующего отдела, главного специалиста,
                                        методиста-координатора, методиста, специалиста и оператора.</p>
                                    {#                                    <img src="{% static 'images/faq-1.jpg' %}" alt="">#}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" data-toggle="collapse" class="collapsed" data-target="#faq2">Основной целью
                                работы отдела является</a>
                            <div id="faq2" class="collapse" data-parent=".faq_accordion">
                                <div class="accordion_content">
                                    <p>Основной целью работы отдела является - в соответствии с миссией и
                                        стратегическими целями ОшГУ улучшить учебный процесс и его качество
                                        (эффективность) путем оказания методической поддержки и координации деятельности
                                        ППС по качественной подготовке конкурентоспособных высокообразованных
                                        специалистов с учетом мировой тенденции образования и современные требования
                                        рынка труда в повышении качества преподавания в вузе. </p>
    <p>
                                        Отдел взаимодействует со всеми структурными подразделениями университета исходя
                                        из задач, функций и полномочий, возложенных на нее в работе. В отделе действует
                                        методический совет, в который входят председатели методических советов структур
                                        (института, факультета, колледжа, школы, лицея).
    </p>{#                                    <img src="images/faq-1.jpg" alt="">#}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq3">В своей
                                деятельности отдел руководствуется следующими документами:</a>
                            <div id="faq3" class="collapse" data-parent=".faq_accordion">
                                <div class="accordion_content">
                                    <p>- Конституция Кыргызской Республики;</p>

                                      <p>  - Нормативно-правовые акты Кыргызской Республики, регулирующие соответствующие
                                        вопросы;
</p>
                                      <p>  - Закон Кыргызской Республики «Об образовании» и подзаконные акты;
</p>
                                       <p> - Устав Ошского государственного университета;
</p>
                                      <p>  - Локальные положения университета, регулирующие соответствующие вопросы,
                                        приказы и распоряжения ректора, решения Ученого совета, административного
                                        совета;
</p>
                                       <p> - Служебные инструкции, определяющие функциональные обязанности сотрудников
                                        отдела, трудовой договор, заключаемый между университетом и сотрудниками.</p>
                                    </p>{#                                    <img src="images/faq-1.jpg" alt="">#}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq4">Основные задачи
                                включают:</a>
                            <div id="faq4" class="collapse" data-parent=".faq_accordion">
                                <div class="accordion_content">
                                    <p>Планирование, координация и контроль учебно-методической деятельности.
                                        Мониторинг и анализ качества образования на всех уровнях обучения (школа,
                                        колледж, бакалавриат, магистратура, аспирантура, докторантура).
                                        Участие в оценке эффективности учебных методов и методическая поддержка
                                        новопринятых преподавателей.
                                        Анализ и экспертиза тестов и учебных документов, контроль их качества.
                                        Проведение исследований и анкетирования для определения удовлетворенности
                                        обучением среди студентов.
                                        Разработка локальных нормативных документов, касающихся управления качеством
                                        образования.
                                        Проведение мониторинга уровня знаний студентов.
                                        Также организуются конкурсы и мероприятия, направленные на развитие творческой
                                        активности преподавателей и внедрение современных технологий в учебный процесс,
                                        с целью улучшения результатов обучения.</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq_accordion fa_2">
                        <h1>Сотрудники отдела:</h1>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq6">Заведующая отделом качества обучения и методического обеспечения:</a>
                            <div id="faq6" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                    <p>Былыкова Махабат Максатовна </p>
                                    <p>Кандидат педагогических наук, доцент</p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 221.</p>
                                    <p>Телефон: 0558242322</p>
                                    <p>E-mail: mbylykova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq7">Главный специалист отдела качества обучения и методического обеспечения:</a>
                            <div id="faq7" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                     <p>Розыкова Мавлюда Баратовна</p>
                                    <p>Кандидат филологических наук</p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 221.</p>
                                    <p>Телефон: 0550772563</p>
                                    <p>E-mail: mrazykova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq8">Методист-координатор отдела качества обучения и методического обеспечения:</a>
                            <div id="faq8" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                    <p>Нурмаматова Мейликан Тагайбековна </p>
                                    <p>Кандидат педагогических наук, доцент</p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 221.</p>
                                    <p>Телефон: 0772077000</p>
                                    <p>E-mail: mnurmamatova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq9">Методист отдела качества обучения и методического обеспечения:</a>
                            <div id="faq9" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                    <p>Жээнбекова Гульмира Токтомаматовна </p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 221.</p>
                                    <p>Телефон: 0558898980</p>
                                    <p>E-mail: gjeenbekova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq10">Специалист отдела качества обучения и методического обеспечения:</a>
                            <div id="faq10" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                     <p>Камалова Айнура Ырысбаевна </p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 136.</p>
                                    <p>Телефон: 0550435735</p>
                                    <p>E-mail: akamalova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#faq11">Оператор отдела качества обучения и методического обеспечения:</a>
                            <div id="faq11" class="collapse" data-parent=".fa_2">
                                <div class="accordion_content">
                                     <p>Бакытбекова Аэлита Бакытбековна </p>
                                    <p>Контакты:</p>
                                    <p>Адрес: ул. Ленина 331, кабинет 136.</p>
                                    <p>Телефон: 0553434304</p>
                                    <p>E-mail: abakytbekova@oshsu.kg</p>
                                    <img src="images/faq-1.jpg" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    {#                    <div class="another_question">#}
                    {#                        <h4>Have another Question</h4>#}
                    {#                        <a href="contact.html" class="theme_btn">Contact us</a> #}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </section>
    <!-- End Faq Area -->




{% endblock %}