{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Основные мета-данные -->
    <title>Сапат</title>
    <meta name="description" content="Отдел качества обучeния и методического обеспечения">
    <meta name="keywords" content="ошму, ошму сапат, ошгу окомо, ошгу, бегислан окомо">

    <!-- Иконка сайта -->
    <link rel="icon" href="{% static 'img/okomo.png' %}" type="image/x-icon"/>

    <!-- Open Graph для социальных сетей -->
    <meta property="og:title" content="Отдел качества обучeния и методического обеспечения">
    <meta property="og:description" content="Отдел качества обучeния и методического обеспечения">
    <meta property="og:image" content="{% static 'img/okomo.png' %}">
    <meta property="og:url" content="https://ваш-сайт.ком">
    <meta property="og:type" content="website">

    <!-- Twitter Card для Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Сапат">
    <meta name="twitter:description" content="Описание страницы для Twitter.">
    <meta name="twitter:image" content="{% static 'img/okomo.png' %}">

    <!-- Стили -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<!-- Header Area -->
<header class="main_header_area">
    <div class="container">
        <div class="header_menu">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'index' %}"><img width="40" src="{% static 'img/okomo.png' %}" alt=""></a>
                <!-- Small Divice Menu-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse navbar_supported">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'index' %}"
                               aria-expanded="false">Главная</a>
                        </li>
                        <li><a class="nav-link" href="{% url 'about' %}">Состав</a></li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'about_info' %}" role="button"
                               aria-expanded="false">О нас</a>
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="services.html">Turnaround Consulting</a></li>#}
{#                                <li><a href="services-2.html">Bonds &amp; Commodities</a></li>#}
{#                                <li><a href="services-details.html">trades And Stoks</a></li>#}
{#                                <li><a href="services-details.html">Financial Projection</a></li>#}
{#                                <li><a href="services-details.html">Audit and assurance </a></li>#}
{#                                <li><a href="services-details.html">Strategic Planning</a></li>#}
{#                            </ul>#}
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'news' %}" role="button"
                               aria-expanded="false">Новости</a>
                        </li>
                       
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'contact' %}" role="button"
                               aria-expanded="false">Контакт</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>


{% block content %}
{% endblock %}

 <footer class="footer_area">
        <div class="container">
            <div class="footer_inner row">
                <div class="col-lg-4 col-md-6 footer_logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/okomo.png' %}" alt="" width="300"></a>
                </div>
                <div class="footer_widget col-lg-3 col-md-6">
                    <h4>Ссылки на другие сайты ОшГУ</h4>
                    <ul class="news_widget">
                        <li><a href="https://www.oshsu.kg/ru">ОшГУ</a></li>
                        <li><a href="https://kb-learn.oshsu.kg/">ОшГУ Компьютерный центр</a></li>
                        <li><a href="https://oku.oshsu.kg/">ОшГУ Видео обучение</a></li>
                        <li><a href="https://begiportfolio.pythonanywhere.com/">Электронный портфолио</a></li>
                    </ul>
                </div>
                <div class="footer_widget col-lg-2 col-md-6">
                    <h4>Быстрые ссылки</h4>
                    <ul class="footer_nav">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'about' %}">Состав</a></li>
                        <li><a href="{% url 'about_info' %}">О нас</a></li>
                        <li><a href="{% url 'news' %}">Новости</a></li>
                        <li><a href="{% url 'contact' %}">Контакт</a></li>
                        <li><a href="{% url 'admin_core' %}">Админка</a></li>

                    </ul>
                </div>
                <div class="footer_widget col-lg-3 col-md-6 social_widget">
                    <h4>Мы на других соц. сетях</h4>
                    <ul class="footer_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <h3><small>Контакт</small>+996 (553) 434 304</h3>
                </div>
            </div>
        </div>

        <div class="copy_right">
            <p>by <a href="https://api.whatsapp.com/send?phone=996774319355"> Bayastan uulu Begislan</a></p>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Scroll Top Button -->
    <button class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </button>

    <!-- Preloader -->
    <div class="preloader">
        <span class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>




<!-- jQuery v3.3.1 -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap v4.0.0 -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Rev slider js -->
<script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<!-- Extra Plugin -->
<script src="{% static 'vendors/animate-css/wow.min.js' %}"></script>
<script src="{% static 'vendors/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendors/counterup/jquery.counterup.min.js' %}"></script>
<!-- Theme js / Custom js -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>