{% extends 'web/base.html' %}
{% load static %}
{% block  content %}
    <section class="pages_banner">
        <div class="container">
            <h2>Контакт</h2>
            <ol class="breadcrumb">
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->


    <!-- The About Area -->
    <section class="say_hello">
        <div class="container">
            <h2>Контакт</h2>
            <p>Оставьте свое мнение о сайте </p>
        </div>
    </section>
    <!-- End The About Area -->

    <!-- Map and From Area -->
    <section class="map_from_area">
        <center>
            <form class="from_main" action="{% url 'contact' %}" method="post" id="phpcontactform" novalidate="novalidate">
    {% csrf_token %}

    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="ФИО" maxlength="200" required id="id_name">
        {% if form.name.errors %}
            <div class="text-danger">{{ form.name.errors.0 }}</div>  <!-- Первое сообщение об ошибке -->
        {% endif %}
    </div>

    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" maxlength="254" required id="id_email">
        {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="Заголовка" maxlength="200" required id="id_subject" placeholder="Субъект">
        {% if form.subject.errors %}
            <div class="text-danger">{{ form.subject.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <textarea class="form-control" name="message" placeholder="Сообшение" required id="id_message" rows="5" style="resize: none;"></textarea>
        {% if form.message.errors %}
            <div class="text-danger">{{ form.message.errors.0 }}</div>
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <div class="text-danger">{{ form.non_field_errors }}</div>  <!-- Общее сообщение об ошибках формы -->
    {% endif %}

    <div class="form-group m-0">
        <button class="theme_btn btn" id="js-contact-btn" type="submit">Отправить</button>
        <div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
    </div>
</form>

    </center>
    </section>
    <!-- End Map and From Area -->

    <!-- Our Office Area -->
    <section class="our_office_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <address class="our_office">
                        <span>Отдел качества обучeния и методического обеспечения</span><br>
                        Адрес	г. Ош улица Ленина 331<br>
                        E-mail	qualityeducation@oshsu.kg<br>
                        +996 553 434 304<br>

                    </address>
                </div>
                <div class="col-md-6">
                    <address class="our_office of_2">
                        <span>Отдел качества обучeния и методического обеспечения</span><br>
                        Адрес	г. Ош улица Ленина 331<br>
                        E-mail	qualityeducation@oshsu.kg<br>
                        +996 553 434 304<br>
                    </address>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Office Area -->

{% endblock %}