{% extends 'web/base.html' %}
{% block content %}
    {% load static %}
    <!-- Slider Area -->
    <section class="main_slider_area">
        <div id="main_slider" class="rev_slider" data-version="5.1.1RC">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default"
                    data-easeout="default" data-masterspeed="2000" data-thumb="images/slider-1.jpg" data-rotate="0"
                    data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="Business" data-description="">
                    <img src="https://scontent.ffru2-1.fna.fbcdn.net/v/t1.6435-9/70370047_900008976999922_2034530573665435648_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEGdRMuTokdi3naNXLjJRDtS4FxRVzjbSBLgXFFXONtIHsGZE4HGDH7_tqQjp2OMl2TRGdPmVEJ9Uv53rLHGm1h&_nc_ohc=U6YOJNkWnxIQ7kNvgFiV_b9&_nc_zt=23&_nc_ht=scontent.ffru2-1.fna&_nc_gid=AXvOPiyTBC5SWa5GciFdvZX&oh=00_AYBxnYVl8E3kVOBJV56v7JUtA4IJK9lYpOY1fDRyqSpPQQ&oe=67406138"
                         alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption concept_title"
                         id="slide-1-layer-1"
                         data-x="['left','left','left','left']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top','top']"
                         data-voffset="['320','320','170','140']"
                         data-fontsize="['65','65','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','485','350']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; text-align:left;text-shadow: 5px 5px 10px black;">We Provide best
                    </div>
                    <div class="tp-caption concept_title"
                         id="slide-1-layer-2"
                         data-x="['left','left','left','left']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['390','390','220','180']"
                         data-fontsize="['65','65','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','490','490']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1300"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; text-align:left;text-shadow: 5px 5px 10px black;">Business Consulting Services
                    </div>
                    <div class="tp-caption slider_sm_heding"
                         id="slide-1-layer-3"
                         data-x="['left','left','left','left']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['510','510','320','230','230']"
                         data-fontsize="['16','16','16','16',10']"
                         data-lineheight="['30','30','30','25']"
                         data-width="['870','690','640','600','420','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 680px; max-width: 680px; white-space: normal;text-shadow: 5px 5px 10px black;">Starting a new
                        business comes with a vast amount of steps. These are steps, which have to be not just taken but
                        also known about in advance.
                    </div>
                    <div class="tp-caption get_started_btn"
                         id="slide-1-layer-4"
                         data-x="['left','left','left','left']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['190','190','100','70']"
                         data-width="none" data-height="none" data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap;text-shadow: 5px 5px 10px black;">
                        <a href="#" class="theme_btn">Our experts </a>
                    </div>
                </li>
                <li data-index="rs-2" data-transition="slideoverup" data-slotamount="7" data-easein="default"
                    data-easeout="default" data-masterspeed="1000" data-thumb="images/slider-2.jpg"
                    data-title="Event Video">
                    <img src="https://oshsu.kg/storage/uploads/ds8vh65QLsY9cjpXpNmfQoU3BQCl7NnRk1GbIMiz.jpeg" alt=""
                         data-lazyload="images/slider-2.jpg" data-bgposition="left center" data-kenburns="on"
                         data-duration="30000" data-scalestart="110" data-scaleend="100" class="rev-slidebg"
                         data-no-retina>
                    <div class="tp-caption concept_title text-center"
                         id="slide-2-layer-1"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top','top']"
                         data-voffset="['320','320','170','120']"
                         data-fontsize="['60','60','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','485','350']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap;text-shadow: 5px 5px 10px black;">Finance Solution
                    </div>
                    <div class="tp-caption concept_title text-center"
                         id="slide-2-layer-2"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['390','390','220','160']"
                         data-fontsize="['60','60','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','490','490']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1300"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; text-align:left;text-shadow: 5px 5px 10px black;">Provide better counseling
                    </div>
                    <div class="tp-caption slider_sm_heding text-center"
                         id="slide-2-layer-3"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['510','510','320','230','230']"
                         data-fontsize="['16','16','16','14',10']"
                         data-lineheight="['30','30','30','25']"
                         data-width="['830','680','640','600','420','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 680px; max-width: 680px; white-space: normal;text-shadow: 5px 5px 10px black;">Advice, consulting
                        and financial leadership. Finding funding and capital managing cash flow. Partner with us for
                        the success of your business.
                    </div>
                    <div class="tp-caption get_started_btn"
                         id="slide-2-layer-4"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['190','190','100','70']"
                         data-width="none" data-height="none" data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap;text-shadow: 5px 5px 10px black;">
                        <a href="#" class="theme_btn">Our Expert</a>
                    </div>
                </li>
                <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default"
                    data-easeout="default" data-masterspeed="2000" data-thumb="images/slider-1.jpg" data-rotate="0"
                    data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="Business" data-description="">
                    <img src="https://sputnik.kg/img/07e5/0a/08/1054164937_0:0:3068:2048_1440x900_80_0_1_4f26c19b07e6f5ccfc9d415a6f2ac462.jpg.webp?source-sid=SK_ES"
                         alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption concept_title"
                         id="slide-3-layer-1"
                         data-x="['right','right','right','right']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top','top']"
                         data-voffset="['320','320','170','120']"
                         data-fontsize="['65','65','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','280','200']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; text-align:left; text-shadow: 5px 5px 10px black;">We Provide best
                    </div>
                    <div class="tp-caption concept_title"
                         id="slide-3-layer-2"
                         data-x="['right','right','right','right']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['390','390','220','160']"
                         data-fontsize="['65','65','50','35','25']"
                         data-lineheight="['67','67','67','50']"
                         data-width="['none','none','none','480','345]"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1300"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap; text-align:left; text-shadow: 5px 5px 10px black;">Business Consulting Services
                    </div>
                    <div class="tp-caption slider_sm_heding text-right"
                         id="slide-3-layer-3"
                         data-x="['right','right','right','right']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['top','top','top','top']"
                         data-voffset="['510','510','320','230','230']"
                         data-fontsize="['16','16','16','16',10']"
                         data-lineheight="['30','30','30','25']"
                         data-width="['870','690','640','600','420','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; min-width: 680px; max-width: 680px; white-space: normal; text-shadow: 5px 5px 10px black;">Starting a new
                        business comes with a vast amount of steps. These are steps, which have to be not just taken but
                        also known about in advance.
                    </div>
                    <div class="tp-caption get_started_btn"
                         id="slide-3-layer-4"
                         data-x="['right','right','right','right']"
                         data-hoffset="['0','0','0','15']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['190','190','100','70']"
                         data-width="none" data-height="none" data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap; text-shadow: 5px 5px 10px black;">
                        <a href="#" class="theme_btn m-0">Our experts </a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </section>
    <!-- End Slider Area -->

    <!-- Marketting Investment  Area -->
    <section class="marketting_investment">
        <div class="marketting_feture">
            <div class="investment">
                <div class="row">
                    <div class="col-md-6 marketting">
                        <a href="#"><img src="{% static 'images/icons/marketing.png' %}" alt="">Marketting</a>
                        <p>Consulting understands that to help meet client challenges</p>
                    </div>
                    <div class="col-md-6 marketting">
                        <a href="#"><img src="images/icons/investing.png" alt="">Investment</a>
                        <p>Tax and pays Consulting understands that to help meet client challenges</p>
                    </div>
                    <div class="col-md-6 marketting">
                        <a href="#"><img src="images/icons/bank.png" alt="">Bank and Insurance</a>
                        <p>Consulting understands that to help meet client challenges</p>
                    </div>
                    <div class="col-md-6 marketting">
                        <a href="#"><img src="images/icons/evaluation.png" alt="">Audit &amp; Evaluation </a>
                        <p>Tax and pays Consulting understands that to help meet client challenges</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="marketting_img">
            <img src="{% static 'images/marketting-investment.jpg' %}" alt="">
        </div>
    </section>
    <!-- End Marketting Investment  Area -->

    <!-- Our Services Area -->
    <section class="services_area">
        <div class="container">
            <div class="tittle">
                <h2>Our Services</h2>
                <p>Finance Solutions is the latest generation software from Sigma Data &amp; Computers Ltd, and is
                    designed to help you organize and manage your Banking,</p>
                <a href="services.html" class="theme_btn">Load more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="services_items">
                        <div class="service_img">
                            <img src="{% static 'images/services-1.jpg' %}" alt="">
                        </div>
                        <div class="service_content">
                            <a href="services.html"><img src="{% static 'images/icons/solution.png' %}" alt="">Trades and Stocks</a>
                            <p>Clients, who work with consultants, understand much better the early stages of forming a
                                business and venture. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services_items">
                        <div class="service_img">
                            <img src="images/services-2.jpg" alt="">
                        </div>
                        <div class="service_content">
                            <a href="services.html"><img src="images/icons/cloud.png" alt="">Legal Business
                                Formation</a>
                            <p>Startups have to execute multiple items simultaneous. Consultants can help assisting
                                clients execute major critical</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services_items">
                        <div class="service_img">
                            <img src="images/services-3.jpg" alt="">
                        </div>
                        <div class="service_content">
                            <a href="services.html"><img src="images/icons/news-report.png" alt="">Strategy and Planning</a>
                            <p>Consultants help clients through analysis, statistics, and strategy. Clients partner with
                                experienced consultants </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Services Area -->

    <!-- Trusted Area -->
    <section class="trusted_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 trusted_content">
                    <h2>We are trusted by more than <span>25,350</span> clients</h2>
                    <p class="fast_p">Gournadi works with banks and financial institutions to integrate and deploy the
                        communication solution and guarantees 100% deployment as well as 24/7 tech support.</p>
                    <p>It goes without saying that customer data security and compliance is top of mind in most retail
                        boardrooms. Auth0 has built state-of-the-art security into our product, so you can take
                        advantage of cutting-edge features designed to make protecting your users and business
                        worry-free.</p>
                    <a href="#" class="theme_btn">Learn More</a>
                </div>
                <div class="col-lg-5">
                    <div class="consultancy">
                        <h4>We have 15 years experience in consultancy</h4>
                        <p>Need guidance in creating and managing successful investment portfolio?</p>
                        <a href="contact.html" class="theme_btn">Contact Us</a>
                        <h3>02 9292162</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End trusted Area -->

    <!-- Investment Consultant Area -->
    <section class="consultant_area">
        <div class="container">
            <div class="row">
                <div class="project_sucessfull col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="project_items">
                                <img src="{% static 'images/icons/hart.png' %}" alt="">
                                <h4>Project Sucessfull</h4>
                                <h2 class="counter">2084</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 p-0">
                            <div class="project_items pi_2">
                                <img src="images/icons/bank.png" alt="">
                                <h4>Projects Completed</h4>
                                <h2 class="counter">284</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="project_items pi_2">
                                <img src="images/icons/user.png" alt="">
                                <h4>Team Member</h4>
                                <h2 class="counter">52</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 p-0">
                            <div class="project_items pi_3">
                                <img src="images/icons/hart.png" alt="">
                                <h4>Consultants</h4>
                                <h2><span class="counter">200</span>+</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 request_consulting">
                    <h2>Talk to Our Investment Consultant</h2>
                    <form class="consultant_from">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group m-0">
                            <button class="theme_btn btn" type="submit">Request for free consulting</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Investment Consultant Area -->

    <!-- Our Causes Area -->
    <section class="causes_area">
        <div class="container">
            <div class="tittle">
                <h2>Our Causes</h2>
                <p>Finance Solutions is the latest generation software from Sigma Data &amp; Computers Ltd, and is
                    designed to help you organize and manage your Banking,</p>
                <a href="cases.html" class="theme_btn">Load more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="causes">
                        <img src="{% static 'images/causes-1.jpg' %}" alt="">
                        <a href="cases-details.html" class="causes_hover"><i class="fa fa-arrow-right"></i>International
                            Business</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="causes">
                        <img src="images/causes-2.jpg" alt="">
                        <a href="cases-details.html" class="causes_hover"><i class="fa fa-arrow-right"></i>International
                            Business</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="causes">
                        <img src="images/causes-3.jpg" alt="">
                        <a href="cases-details.html" class="causes_hover"><span><i class="fa fa-arrow-right"></i></span>International
                            Business</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Causes Area -->

    <!-- Testimonial Area -->
    <section class="testimonial">
        <div class="container">
            <div class="carousel slide testimonial_carousel" data-ride="carousel">
                <h2>What our Client Says</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>It goes without saying that customer data security and compliance is top of mind in most
                            retail boardrooms. Barisal has built state-of-the-art security into our product, so you can
                            take advantage of cutting-edge features designed to make protecting your users and business
                            worry-free.</p>
                        <img src="{% static 'images/testimonial.jpg' %}" alt="">
                        <a href="#">Emran Khan</a>
                        <h6>Web Developer</h6>
                    </div>
                    <div class="carousel-item">
                        <p>It goes without saying that customer data security and compliance is top of mind in most
                            retail boardrooms. Barisal has built state-of-the-art security into our product, so you can
                            take advantage of cutting-edge features designed to make protecting your users and business
                            worry-free.</p>
                        <img src="{% static 'images/testimonial.jpg' %}" alt="">
                        <a href="#">Mahfuz Riyad</a>
                        <h6>Web designer</h6>
                    </div>
                    <div class="carousel-item">
                        <p>It goes without saying that customer data security and compliance is top of mind in most
                            retail boardrooms. Barisal has built state-of-the-art security into our product, so you can
                            take advantage of cutting-edge features designed to make protecting your users and business
                            worry-free.</p>
                        <img src="{% static 'images/testimonial.jpg' %}" alt="">
                        <a href="#">Foqrul Islam</a>
                        <h6>SEO Themazine</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial Area -->

    <!-- Careers Area -->
    <section class="careers_area">
        <div class="careers_content">
            <div class="careers_text">
                <h2>Careers</h2>
                <h3>Don’t just come to work. Come to change</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="industry">
                            <a href="#">The lucrative and large beauty industry</a>
                            <h6>Skin Care Business, job china</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="industry">
                            <a href="#">The lucrative and large beauty industry</a>
                            <h6>Skin Care Business, job china</h6>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="careers_button">
                            <a href="#" class="theme_btn">Get more careers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="careers_img">
            <img src="{% static 'images/careers.jpg' %}" alt="">
        </div>
    </section>
    <!-- End Careers Area -->

    <!-- Our latest news Area -->
    <section class="latest_news_area">
        <div class="container">
            <div class="tittle">
                <h2>Our latest news</h2>
                <p>Finance Solutions is the latest generation software from Sigma Data &amp; Computers Ltd, and is
                    designed to help you organize and manage your Banking,</p>
                <a href="blog.html" class="theme_btn">Load more</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest_news">
                        <a href="blog-single.html" class="b_tittle">Move Money Across Borders Quickly, Reliably</a>
                        <a href="blog-single.html" class="latest_news_img">
                            <span>14 May 2018</span>
                            <img src="images/latest-news-1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest_news">
                        <a href="blog-single.html" class="b_tittle">A business-consulting firm is a third-party
                            organization; it is able to</a>
                        <a href="blog-single.html" class="latest_news_img">
                            <span>14 May 2018</span>
                            <img src="images/latest-news-2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest_news">
                        <a href="blog-single.html" class="b_tittle">Security Guide – How To Protect Yourself From
                            Scammers</a>
                        <a href="blog-single.html" class="latest_news_img">
                            <span>14 May 2018</span>
                            <img src="images/latest-news-3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our latest news Area -->

    <!-- Stay_tuned Area -->
    <section class="stay_tuned_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 stay_tuned">
                    <h2>Stay Tuned for Our Updates</h2>
                    <p>To succeed in today’s environment, businesses need to successfully </p>
                </div>
                <div class="col-lg-6 subscribe_area">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <span class="input-group-text theme_btn">SUBSCRIBE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End stay_tuned Area -->

{% endblock %}
