{% extends 'web/base.html' %}
{% load static %}
{% block  content %}


        <!-- Pages Banner Area -->
    <section class="pages_banner">
        <div class="container">
            <h2>Blog Details</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a class="active">Blog Details</a></li>
            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->


  <section class="services_details_area bd_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 blog_list_area">
                   <!-- Blog_Single -->
                   <div class="blog_single">
                      <div class="blog_heding">
                            <a href="#" class="author"><img src="images/author-1.jpg" alt="">Jon Sung Lee <span>May 23, 2018 By Shelley Osborne</span></a>
                           <h2>When the World Of Work is Changing So Fast, What Should Workers Be Learning?</h2>
                      </div>
                        <h3>Power to the People , What Should Workers Be Learning?</h3>
                        <p>These changes are wide-ranging and some specific proposals are being consulted on. In addition, the FCA will gather additional evidence and carry out further analysis before any formal decisions can be made on a number of other issues. Andrew Bailey, Chief Executive of the Financial Conduct Authority, said: “High-cost credit is used by over three million consumers in the UK, some of who are the most vulnerable in society. Today, we have proposed a significant package of reforms to ensure they are better protected including the possibility of a cap on rent-to-own </p>
                        <p class="blod_p">“The proposals will benefit overdraft and high-cost credit users, rebalancing in the favour of the customer.</p>
                        <p>“Our immediate proposed changes will make overdraft costs more transparent and prevent people unintentionally dipping in to an overdraft in the first place. However, we believe more fundamental change is needed in the way banks charge customers for overdrafts. Given the size of the market our work here will be completed as part of our wider review into retail banking.”</p>
                        <p>By using the DAS to help transform the merchandizing process, CMOs can efficiently drive sales, improve margins, and fine-tune inventory levels. There are seven key decision points in development assortments, as shown below.</p>
                        <img src="images/blog-single-1.jpg" alt="" class="single_img">
                        <p>Under legislation the FCA is required to formally consult on rules it proposes to introduce. Consultations must be open and transparent, and the FCA cannot prejudge the result. In order to consult, the FCA must have a sufficient evidence base to build its proposals and develop a cost-benefit analysis, </p>
                        <h3>Overdrafts</h3>
                        <p>The FCA believes that the way banks operate and charge for overdrafts needs fundamental reform. In 2016, firms made an estimated £2.3bn in revenue from overdrafts; 30% of this was from unarranged overdrafts.</p>
                        <img src="images/blog-single-2.jpg" alt="" class="single_img">
                        <p>The FCA is putting forward some immediate proposals today for overdrafts that it believes will save customers up to £140mn a year. Beyond that, the FCA will consider more radical options to ban fixed fees and end the distinctions around unarranged overdraft prices.</p>
                        <p>The conceptual assortment plan is a list of products, or product placeholders, that are planned for a future selling period. The DAS helps planners start building their assortments based on attributes, current styles, or even products still in development with the PLM system. Deloitte’s solution lets marketers develop one integrated assortment representing multiple channel needs, speeding the decision process that surrounds product exposure</p>
                        <div class="bg_text">
                            <p>A better solution is needed, one that defines the assortment process and gives retailers the tools they need to optimize assortments.</p>
                            <a href="#" class="theme_btn">Free Signup</a>
                        </div>
                        <p>Once deployed, retailers begin realizing operational benefits that include optimized assortments, assortment visibility, improved inventory, data-driven decision making, and improved efficiency. In addition to operational improvements, we’re seeing an impact in financial results, such as improved sell-through rate, increased sales,</p>
                        <ul class="social_share">
                            <li><a href="#"><i class="fa fa-facebook"></i>3</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i>8</a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i>4</a></li>
                        </ul>
                        <div class="comments_area">
                            <h4>0 Comments <span>Barisal Blog</span><a href="#">login</a></h4>
                            <div class="media">
                                <img src="images/leader-5.jpg" alt="">
                                <div class="media-body">
                                    <input type="text" class="form-control" placeholder="Start the discussion">
                                    <h6>Login With</h6>
                                    <ul class="social_login">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="relevent_post row">
                            <h3 class="col-12">Other relevent post </h3>
                            <div class="col-md-4 col-sm-6">
                               <div class="post_item">
                                    <img src="images/relevent-post-1.jpg" alt="">
                                    <a href="#">Know the Most Important Secret of Workplace Motivation?</a>
                               </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                               <div class="post_item">
                                    <img src="images/relevent-post-2.jpg" alt="">
                                    <a href="#">Want to Know How Great Managers Motivate Their Employees at Work?</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                               <div class="post_item">
                                    <img src="images/relevent-post-3.jpg" alt="">
                                    <a href="#">Learn the Best Talent Management Practices for a Better Workforce</a>
                               </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-xl-3 left_sidebar">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-arrow-right"></i></span>
                        </div>
                    </div>
                   <!-- Widget -->
                   <div class="widget">
                       <ul class="target">
                           <li><a href="#" class="active">Business  <span>(09)</span></a></li>
                           <li><a href="#">Consutruction<span>(08)</span></a></li>
                           <li><a href="#">Marketing<span>(07)</span></a></li>
                           <li><a href="#">Performance<span>(06)</span></a></li>
                           <li><a href="#">Office<span>(05)</span></a></li>
                           <li><a href="#">Corporate Finance<span>(04)</span></a></li>
                       </ul>
                   </div>
                   <!-- Widget -->
                   <div class="widget key">
                       <h4>Key Contacts</h4>
                       <ul>
                           <li>
                               <a href="#" class="active">Steven J. Joffe</a>
                               <h6>Senior Managing Director</h6>
                           </li>
                           <li>
                               <a href="#">Larry Portal</a>
                               <h6>Senior Managing Director</h6>
                           </li>
                       </ul>
                   </div>
                   <!-- Widget -->
                   <div class="widget">
                       <ul class="target download">
                           <li><a href="#">January 2018</a></li>
                           <li><a href="#">December 2017</a></li>
                           <li><a href="#">December 2016</a></li>
                       </ul>
                   </div>
                   <!-- Quick contact -->
                   <div class="quick_contact_widget">
                       <h6>Corporate Finance</h6>
                       <h3>Need Help?</h3>
                       <address>
                            562, Mallin Street, New York, NY 100 254 <br>
                            Phone : +1800-456-7890 <br>
                            Email : contact@wellinor.com
                       </address>
                       <a href="contact.html" class="theme_btn">Contact Us</a>
                   </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}