{% extends 'web/base.html' %}
{% load static %}
{% block  content %}


    <!-- Pages Banner Area -->
    <section class="pages_banner">
        <div class="container">
            <h2>{{ post.title }}</h2>
            <ol class="breadcrumb">

            </ol>
        </div>
    </section>
    <!-- End Pages Banner Area -->

    <section class="services_details_area bd_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 blog_list_area">
                    <!-- Blog_Single -->
                    <div class="blog_single">
                        <div class="blog_heding">
                            <span>{{ post.created_at }}</span>

                        </div>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>


                        <div class="relevent_post row">


                            <h3 class="col-12">Картины</h3>
                            <div class="col-md-12 col-sm-12">
                                {% for image in images %}
                                    <div class="post_item">
                                        <img width="100%" src="{{ image.image.url }}" alt="{{ post.title }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}