{% extends 'adminka_post/base_adminka.html' %}

{% block title %}Сотрудники{% endblock %}

{% block content %}

    <h1>Сотрудники</h1>

    <a href="{% url 'create_person' %}" class="btn btn-primary mb-3">Создать нового сотрудника</a>

   <div class="container">
    <div class="row">
        {% for person in persons %}
            <div class="col-md-6 mb-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <span><p class="card-text mb-auto">Должность: {{ person.speciality }}</p></span>
                        <h3 class="mb-0">{{ person.first_name }} {{ person.name }}
                            {% if person.last_name %}{{ person.last_name }}{% endif %}</h3>
                        {% if person.faculty and person.kafedra %}
                        <div class="mb-1 text-body-secondary">Институт: {{ person.faculty }}</div>
                        <div class="mb-1 text-body-secondary">Кафедра: {{ person.kafedra }}</div>
                        {% endif %}

                        <a href="{% url 'person_detail' person.id %}" class="icon-link gap-1 icon-link-hover stretched-link">
                            Подробнее
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    {% if person.img %}
                        <img src="{{ person.img.url }}" class="bd-placeholder-img" width="200" height="200" style="object-fit: cover; ">
                    {% else %}
                        <p>нет фотографии</p>
                    {% endif %}
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
                </div><div class="row"> <!-- Закрываем текущий ряд и открываем новый после каждых двух постов -->
            {% endif %}
        {% empty %}
            <div class="col">
                Таблица сотрудников пустa!
            </div>
        {% endfor %}
    </div>
</div>








    <script>
        function updateDateTime() {
            const now = new Date();
            const currentTime = now.toLocaleTimeString(); // Получаем текущее время
            const currentDate = now.toLocaleDateString(); // Получаем текущую дату
            document.querySelector('#time').innerHTML = currentTime; // Обновляем элемент с ID time
            document.querySelector('#date').innerHTML = currentDate; // Обновляем элемент с ID date
        }

        setInterval(updateDateTime, 1000);
        updateDateTime();
    </script>
{% endblock %}